<div class="container" id="index-container">
  </br>
  <% @students.each do |student| %>
    <div class="card mt-4" style="width: 32rem;">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Student Name: <%= student.student_name.capitalize %> </li>
        <li class="list-group-item">Email Id: <%= student.email_id %> </li>
        <li class="list-group-item">Contact Address: <%= student.address %> </li>
        <li class="list-group-item">Contact Number: <%= student.contact_number %> </li>
        <li class="list-group-item">Marks Scored: <%= student.marks %> </li>

        <li class="list-group-item">Preferred College: <%= render student.colleges %> </li>
        <li class="list-group-item">Preferred Course: <%= render student.courses %>  </li>

        <% if logged_in? && (student.user == current_user || current_user.admin?) %>
          <li class="list-group-item"><%= link_to "EDIT", edit_student_path(student), class: "btn btn-secondary"%> </li>
          <li class="list-group-item"><%= link_to "DELETE", student_path(student), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %></li>
        <% end %>
      </ul>
      
    </div></br>
  <% end %>
</div>