</br>
<% if @course.errors.any? %>
<h3>Oops! The Following errors prevented from being saved</h3>
	<ul>
		<% @course.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
	</ul>
<% end %>

<%= form_with(model: @course, local: true) do |j| %>
	<div class="form-group row">
	  <%= j.label :name, "Course name", class: "col-2 col-form-label" %>
	  <div class="col-5">
	    <%= j.text_field :name, class: "form-control" %>
	  </div>
	</div>

	<div class="form-group row, text-center">
	  <%= j.submit class: "btn btn-secondary" %>
	</div></br>
  
<% end %>