<% if @course.errors.any? %>

	<h2>The following errors prevented from being saved</h2>
	<ul>
		<% @course.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
	</ul>
<% end %>

<%= form_with(model: @course, local: true) do |j| %>
	<div class="form-group row">
	  <%= j.label :name, "Course name", class: "col-2 col-form-label" %>
	  <div class="col-5">
	    <%= j.text_field :name, class: "form-control" %>
	  </div>
	</div>

	<div class="form-group row">
	  <%= j.submit class: "btn btn-outline" %>
	</div>
  
<% end %>


<%= form_with(model: @course, local: true) do |i| %>
  <div class="form-group row">
    <%= i.label :choose_your_course, class: "col-2 col-form-label" %><div class="col-5">
    <div class="col-8">
      <%= i.collection_select(:course_ids, Course.all, :id, :name,
                           { prompt: "Make your selection"}, { multiple: true, class: "custom-select"} ) %>
    </div>
  </div>
<% end %>